<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M\(%line\) - %msg%n</pattern>
        </encoder>
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>ERROR</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/music-store.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M\(%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="slick" level="error"/>
    <logger name="org.apache.kafka" level="error"/>
    <logger name="org.http4s" level="error"/>
    <logger name="com.zaxxer.hikari" level="error"/>
    <logger name="org.apache.zookeeper" level="error"/>
    <logger name="org.I0Itec" level="error"/>

    <root level="debug">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>


</configuration>
